@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,800,900");

.menu-icon-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.banner {
  height: 100vh;
  margin: -1em -1em 0em -1em;
  background-color: #000;
  color: white;
  text-align: center;
}

.banner h1 {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  margin: 0em;
}

.banner h1 > .logo-f {
  color: red;
}

.banner p {
  margin-top: 0.5em;
}

.banner i {
  font-size: 3em;
  color: #fff;
}

.text-logo h1 > span:first-child {
  color: red;
}

.site-title {
  padding-top: calc(calc(100vh / 2) / 2);
}

.angle-down {
  -webkit-animation: bounce 1s infinite alternate;
  animation: bounce 1s infinite alternate;
  cursor: pointer;
}

@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

@media only screen and (min-width: 600px) {
  .banner {
    margin: -2em -2em 0em -2em;
  }
}

@media only screen and (min-width: 1200px) {
  .banner {
    height: auto;
    margin: 0;
    padding: 0.5em;
  }

  .banner i {
    display: none;
  }
}
