@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,800,900");

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: -2em -2em 0em -2em;
  padding: 1em;
  background-color: #000;
  color: white;
  text-align: center;
}

.banner h1 {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  margin: 0em;
}

.banner h1 > .logo-f {
  color: red;
}

.banner p {
  margin-top: 0.5em;
}

.banner i {
  font-size: 3em;
  color: #fff;
}

.angle-down {
  -webkit-animation: bounce 1s infinite alternate;
  animation: bounce 1s infinite alternate;
  cursor: pointer;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

@media only screen and (min-width: 1280px) {
  .banner {
    height: auto;
    margin: 0;
  }

  .banner i {
    display: none;
  }
}
