.core-values h2 {
  text-transform: uppercase;
  text-align: center;
}

.card {
  margin-top: 1em;
  background-color: #ffffff;
}

.card a {
  text-decoration: none;
}

.card-thumbnail {
  margin: 0;
}

.card-content {
  font-size: 80%;
  padding: 1em;
  color: #000;
  text-align: center;
}

.card-content h3 {
  text-transform: uppercase;
}

.card-content p:nth-child(3) {
  text-transform: uppercase;
}

@media only screen and (min-width: 767px) {
  .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card {
    width: calc(50% - 0.5em);
  }

  .main-core-value {
    flex: 1 0 100%;
  }
}

@media only screen and (min-width: 992px) {
  .cards {
    display: flex;
    justify-content: space-between;
  }

  .card {
    width: calc(33.333% - 0.5em);
  }

  .main-core-value {
    flex: none;
  }
}

@media only screen and (min-width: 1200px) {
  .core-values {
    padding: 0em 2em;
  }
  .cards {
    display: flex;
    justify-content: space-between;
  }

  .card {
    width: calc(33.333% - 0.5em);
  }

  .main-core-value {
    flex: none;
  }
}
