.core-values {
  text-align: center;
}

.card {
  margin-top: 1em;
  background-color: #ffffff;
}

.card a {
  text-decoration: none;
}

.card-thumbnail {
  margin: 0;
}

.card-content {
  margin: 0.2em;
  padding-bottom: 0.5em;
  color: #000;
}

.card-content h3 {
  text-transform: uppercase;
}

.card-content p:nth-child(3) {
  text-transform: uppercase;
}

@media only screen and (min-width: 767px) {
  .cards-wrapper {
    display: flex;
  }
}

@media only screen and (min-width: 1200px) {
  .core-values {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  .core-values div > h3 {
    margin: 0;
  }

  .core-values div > p {
    padding: 0.5em;
    font-size: 0.8em;
  }

  .core-values-wrapper {
    align-self: flex-end;
  }
}
