@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,800,900");

.header {
  height: 100vh;
  margin: -1em -1em 0em -1em;
  background-color: #000;
  color: white;
  text-align: center;
}

.header h1 {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  margin: 0em;
}

.header p {
  margin-top: 0.5em;
}

.header i {
  font-size: 3em;
  color: #fff;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  cursor: pointer;
  z-index: 9;;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.header-text-logo h1 > span:first-child {
  color: red;
}

.header-side-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
  transition: 0.5s;
  text-align: center;
}

.header-side-nav[data-state=closed] {
  width: 0;
}

.header-side-nav[data-state=open] {
  width: 100%;
}

.header-side-nav .closebtn {
  position: absolute;
  top: 0;
  right: 0.5em;
  font-size: 2em;
  margin-left: 3em;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}

.main-nav li {
  padding: 0.5em;
}

.main-nav li a {
  font-size: 2.5em;
  color: #fff;
  text-decoration: none;
}

.main-nav li a:hover {
  color: grey;
}

.header-site-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header-site-title h1 > span {
  color: red;
}

.header-scroll-down {
  -webkit-animation: bounce 1s infinite alternate;
  animation: bounce 1s infinite alternate;
}

@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

@media only screen and (min-width: 600px) {
  .header {
    margin: -2em -2em 0em -2em;
  }
}

@media only screen and (min-width: 767px) {
  .header-side-nav .closebtn {
    top: 0.3em;
    right: 0.3em;
    font-size: 2.5em;
  }

  .main-nav li {
    padding: 1.2em;
  }
}

@media only screen and (min-width: 1200px) {
  .header {
    width: 320px;
    margin: 0;
  }

  .header i {
    display: none;
  }

  .header-side-nav[data-state=open] {
    width: inherit;
  }
  
  .main-nav li a {
    font-size: 1.5em;
  }

}
