/*--------------------------------------------------------------
Layouts
--------------------------------------------------------------*/

html,
body {
  background: hsl(0, 0%, 90%);
}

.main-container {
  padding: 1em;
}

/* Responsive Layout */

@media only screen and (min-width: 600px) {
  .main-container {
    padding: 2em;
  }
}

@media screen and (min-width: 992px) {
  .main-container {
    padding: 2.5em;
  }
}

@media only screen and (min-width: 1200px) {
  .main-container {
    display: grid;
    grid-template-areas:
      "banner main-content main-content main-content main-content main-content"
      "banner main-content main-content main-content main-content main-content"
      "banner main-content main-content main-content main-content main-content"
      "banner main-content main-content main-content main-content main-content"
      "banner main-content main-content main-content main-content main-content"
      "banner main-content main-content main-content main-content main-content"
      "banner main-content main-content main-content main-content main-content"
      "banner main-content main-content main-content main-content main-content";
    padding: 0em;
  }

  .banner {
    grid-area: banner;
  }
  .core-values {
    grid-area: core-values;
  }

  .main-content {
    grid-area: main-content;
    max-height: 100vh;
    overflow-y: scroll;
  }
}
