/*--------------------------------------------------------------
Layouts
--------------------------------------------------------------*/

body {
  background: hsl(0, 0%, 90%);
}

.main-container {
  padding: 2em;
}

/* Responsive Layout */

@media only screen and (min-width: 1280px) {
  .main-container {
    display: grid;
    grid-template-areas:
      "banner main-content main-content main-content main-content core-values"
      "banner main-content main-content main-content main-content core-values"
      "banner main-content main-content main-content main-content core-values"
      "banner main-content main-content main-content main-content core-values"
      "banner main-content main-content main-content main-content core-values"
      "banner main-content main-content main-content main-content core-values"
      "banner main-content main-content main-content main-content core-values"
      "banner main-content main-content main-content main-content core-values";
    grid-gap: 10px;
    max-height: 100vh;
    padding: 0em;
  }

  .banner {
    grid-area: banner;
  }
  .core-values {
    grid-area: core-values;
  }
  .main-content {
    max-height: 100vh;
    overflow-y: scroll;
    grid-area: main-content;
  }
}
