.social {
  background: #000;
  margin: 1em -1em -1em -1em;
}

.social h2 {
  text-align: center;
  margin-bottom: 0;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons > .fa {
  font-size: 1em;
  text-decoration: none;
  color: #fff;
  margin: 1em;
}

.fa:hover {
  opacity: 0.7;
}

@media screen and (min-width: 600px) {
  .social {
    margin: 2em -2em -2em -2em;
  }

  .social-icons > .fa {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 992px) {
  .social {
    margin: 2.5em -2.5em -2.5em -2.5em;
  }
  .social-icons > .fa {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 1200px) {
  .social {
    margin: 2.5em 0em -2.5em 0em;
  }
}
